[Desktop Entry]
Name=git-blog-editor
Exec=/usr/share/git-blog-editor/mymainwindow
Icon=/usr/share/icons/hicolor/scalable/apps/editor.jpg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=false
